In [1]:
# pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Matplotlib is a plotting library for python and pyplot gives us a MatLab like plotting framework. We will use this in our plotter function to plot data.
import matplotlib.pyplot as plt
#Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics
import seaborn as sns

In [3]:
df = pd.read_csv("spacex_launch_dash.csv")
df.head()

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0

In [5]:
# HINT use groupby method on Orbit column and get the mean of Class column
orbit_data = pd.DataFrame(df.groupby('Booster Version').mean(numeric_only=True)['class'])
orbit_data = orbit_data.sort_values('class')
fig, ax = plt.subplots(1,1,dpi = 80)
ax = sns.barplot(data=orbit_data, x = "Booster Version", y = "class")
ax.set_xlabel("Booster Version")
ax.set_ylabel("Success Rate")
ax.set_title("success rate of each Booster Version")
plt.savefig('img/success_rate_of_each_booster_version_type.png')

KeyError: 'Class'